# Mac
.DS_Store

# Linux KDE directory preferences
.directory
*~

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

# Intermediate documents
*.dvi
# these rules might exclude image files for figures etc.
*.ps
*.eps
# *.pdf

# Bibliography auxiliary files (bibtex/biblatex/biber)
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
*.bst

# Build tool auxiliary files
*.fdb_latexmk
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls


# Local untracked files
*.xla
*.bak
*.swp
*.spl
*.shd
*.cfg

*.tmp
*.old

*.sh
*.csh
*.out

*.zip
*.tgz
*.tar
*.gz

*.rtf
*.doc
#*.docx
*.ppt
*.pptx

*.txt

*.htm
*.html

obsolete/
private/

# R History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/
